name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        go:
          - "1.22"
          - "1.21"
          - "1.20"
          - "1.19"

    steps:
      - uses: actions/checkout@v6
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: test
        run: |
          go test ./... -v -cover -coverprofile coverage.out

      - uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
          flag-name: OS-${{ matrix.os }}Go-${{ matrix.go }}
          parallel: true

  # notifies that all test jobs are finished.
  finish:
    if: always()
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true
